.banner-img{
    height: 438px;
    width: 556px;
}
.bg-color-header{
    background-color: blue;
}
.button-margins{
    margin-top: 55px;
}

.font-size-h h1{
    font-size: 70px;
     word-wrap: break-word;
}
 
 